.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
    background: #ffffff;
    width: 100%;
    height: 1024px;
    position: relative;
    overflow: hidden;
  }
  .rectangle-1 {
    background: #3b9bd0;
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .user-admin {
    color: #ffffff;
    text-align: center;
    font: 600 18px "Inter", sans-serif;
    position: absolute;
    right: 0%;
    top: 15px;
    width: 9%;
  }
  .rectangle-2 {
    background: #1e4754;
    width: 16%;
    height: 100%;
    position: absolute;
    left:0%;
    bottom: 0%;
  }
  .user-admin2 {
    color: #ffffff;
    text-align: left;
    font: 600 18px "Inter", sans-serif;
    position: absolute;
    left: 40%;
    top: 77px;
    width: 152px;
    height: 26px;
  }
  .ng-xu-t {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font: 600 16px "Inter", sans-serif;
    position: absolute;
    left: 40%;
    top: 109px;
    width: 99px;
    height: 27px;
  }
  .ng-xu-t:hover {
    color:lightsteelblue;
}
  .h-th-ng-qu-n-l {
  
    color: #ffffff;
    text-align: center;
    font: 700 26px "Inter", sans-serif;
    position: absolute;
    left: 0%;
    top: 15px;
    width: 100%;
    height: 33px;
  }
  .qu-n-l-tin-t-c {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font: 500 16px "Inter", sans-serif;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 70%;
    height: 29px;
  }
  .qu-n-l-tin-t-c:hover {
    color:lightsteelblue;
  }
  
  .qu-n-l-li-n-h {
    text-decoration: none;
    color: rgb(147, 194, 251);
    text-align: left;
    font: 500 16px "Inter", sans-serif;
    position: absolute;
    left: 20%;
    top: 41%;
    width: 70%;
    height: 29px;
  }
  .qu-n-l-li-n-h:hover {
    color:lightsteelblue;
  }
  
  .th-ng-k {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font: 500 16px "Inter", sans-serif;
    position: absolute;
    left: 20%;
    top: 47%;
    width: 70%;
    height: 29px;
  }
  .th-ng-k:hover {
    color:lightsteelblue;
  }
  
  .qu-n-l-o-n-vi-n {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font: 500 16px "Inter", sans-serif;
    position: absolute;
    left: 20%;
    top: 23%;
    width: 70%;
    height: 29px;
  }
  .qu-n-l-o-n-vi-n:hover {
    color:lightsteelblue;
  }
  .qu-n-l-ca-b{
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font: 500 16px "Inter", sans-serif;
    position: absolute;
    left: 20%;
    top: 29%;
    width: 70%;
    height: 29px;
  }
  .qu-n-l-ca-b:hover{
    color:lightsteelblue;
  }
  .user1{
    color: #ffffff;
    text-align: left;
    font: 400 450% "Font Awesome 5 Free", sans-serif;
    position: absolute;
    left: 10%;
    top: 63px;
    width: 70px;
    height: 86px;
  }
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5 {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 20%;
  top: calc(50% - 462px);
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span {
  color: #000000;
  font: 400 22px "Kanit", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span2 {
  color: #000000;
  font: 400 18px "Inter", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span3 {
  color: #000000;
  font: 300 18px "Inter", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span4 {
  color: #000000;
  font: 400 18px "Inter", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span5 {
  color: #000000;
  font: 300 18px "Inter", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span6 {
  color: #000000;
  font: 400 18px "Inter", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span7 {
  color: #000000;
  font: 300 18px "Inter", sans-serif;
}
.th-ng-k-chuy-n-m-c-h-i-p-t-ng-s-c-u-h-i-9-t-ng-s-c-u-h-i-c-gi-i-p-4-t-ng-s-c-u-h-i-ch-a-c-gi-i-p-5-span8 {
  color: #000000;
  font: 400 18px "Inter", sans-serif;
}
.danh-s-ch-c-u-h-i {
  color: #000000;
  text-align: left;
  font: 400 22px "Kanit", sans-serif;
  position: absolute;
  left: 310px;
  top: 203px;
  width: 214px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 16%;
  top: 203.02px;
  transform-origin: 0 0;
  transform: rotate(-0.15deg) scale(1, 1);
}
.frame-19 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 80%;
  left: 18%;
  top: 280px;
  border-collapse:collapse;
  display: table;
  box-sizing: border-box;
}
table,th,td{
  border:1px solid black;
  height:55px;
  text-align: center;
}

/*
.frame-18 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 83%;
  position: absolute;
  left: 16.5%;
  top: 263px;
}
.frame-6 {
  background: #dcdcdc;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
}
.frame-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 60px;
  position: relative;
}
.stt {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.c-u-h-i {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.ng-i-h-i {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.tr-l-i {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 70px;
  position: relative;
}
.duy-t {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._1 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.em-v-a-vi-n-ch-c-i-l-m-c-2-th-ng-trong-th-i-gian-t-p-s-ph-i-v-sinh-con-nh-ng-t-i-sao-nh-tr-ng-l-i-kh-ng-cho-ngh-ch-thai-s-n-m-con-em-c-1-th-ng-ph-i-i-l-m {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nguy-n-th-h-ng {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-u-h-i-n-y-c-c-ng-ttdt-chuy-n-cho-ph-ng-n-i-n-i-v-huy-n-b-t-x-t-tr-l-i-xem-chi-ti-t-ngh-b-xem-to-n-b-v-n-b-n-t-i-y {
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c-u-h-i-n-y-c-c-ng-ttdt-chuy-n-cho-ph-ng-n-i-n-i-v-huy-n-b-t-x-t-tr-l-i-xem-chi-ti-t-ngh-b-xem-to-n-b-v-n-b-n-t-i-y-span {
  color: #000000;
  font: 400 16px "Kanit", sans-serif;
}
.c-u-h-i-n-y-c-c-ng-ttdt-chuy-n-cho-ph-ng-n-i-n-i-v-huy-n-b-t-x-t-tr-l-i-xem-chi-ti-t-ngh-b-xem-to-n-b-v-n-b-n-t-i-y-span2 {
  color: #1545ee;
  font: 400 16px "Kanit", sans-serif;
}
.pngtree-check-mark-icon-design-template-vector-isolated-png-image-711429-1 {
  flex-shrink: 0;
  width: 34px;
  height: 52px;
  position: relative;
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._2 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-u-kh-ng-k-khai-ch-ng-ch-ti-ng-anh-tin-h-c-trong-phi-u-d-tuy-n-c-quy-l-gian-l-n-trong-k-khai-phi-u-d-tuy-n-theo-k-ho-ch-v-b-h-y-k-t-qu-kh-ng {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.l-gi-ng-pao {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-c-u-h-i-n-y-c-ng-ttdt-c-c-ng-v-n-ngh-ph-ng-n-i-v-huy-n-b-t-x-t-tr-l-i-bi-t-chi-ti-t-ngh-c-c-ng-v-n-d-i-y-tra-loi-cau-hoi-m-20200468-pdf {
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.v-c-u-h-i-n-y-c-ng-ttdt-c-c-ng-v-n-ngh-ph-ng-n-i-v-huy-n-b-t-x-t-tr-l-i-bi-t-chi-ti-t-ngh-c-c-ng-v-n-d-i-y-tra-loi-cau-hoi-m-20200468-pdf-span {
  color: #000000;
  font: 400 16px "Kanit", sans-serif;
}
.v-c-u-h-i-n-y-c-ng-ttdt-c-c-ng-v-n-ngh-ph-ng-n-i-v-huy-n-b-t-x-t-tr-l-i-bi-t-chi-ti-t-ngh-c-c-ng-v-n-d-i-y-tra-loi-cau-hoi-m-20200468-pdf-span2 {
  color: #1a2fee;
  font: 400 16px "Kanit", sans-serif;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._3 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-c-l-ng-ngh-h-u-tr-c-tu-i-n-m-2020-l-bao-nhi-u {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nguy-n-nh-t-minh {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1713-600-x-600-1 {
  flex-shrink: 0;
  width: 39px;
  height: 38px;
  position: relative;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._4 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-i-mu-n-h-i-n-m-nay-huy-n-b-t-x-t-c-tuy-n-gi-o-vi-n-vi-n-d-y-h-p-ng-kh-ng {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.o-v-n-h-ng {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hi-n-nay-huy-n-b-t-x-t-v-n-ch-a-nh-n-c-quy-t-nh-giao-ch-ti-u-bi-n-ch-gi-o-d-c-o-t-o {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-16 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._5 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-i-mu-n-bi-t-a-ch-v-o-xem-i-m-thi-tuy-n-c-ng-ch-c-gi-o-d-c-n-m-2020 {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tr-n-v-n-to-n {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ngh-ng-v-o-c-ng-ttdt-huy-n-b-t-x-t-m-c-th-ng-b-o-b-o-c-o-xem-k-t-qu-i-m-thi-tuy-n-vi-n-ch-c-gi-o-d-c-o-t-o-huy-n-b-t-x-t-n-m-2020 {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._6 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cho-em-h-i-bao-gi-c-k-t-qu-thi-c-ng-ch-c {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nguy-n-th-ph-ng {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-11 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._7 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-v-d-tuy-n-b-nh-vi-n-a-khoa-huy-n-b-t-x-t-m-s-l-bao-nhi-u-v-tr-d-tuy-n-l-nh-th-n-o {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ph-m-v-n-ng {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._8 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-i-sao-l-nh-o-ch-ch-t-c-a-m-t-s-x-kh-ng-c-chuy-n-m-n-nghi-p-v-g-m-v-n-gi-nguy-n-trong-khi-nh-ng-ng-i-c-tr-nh-i-h-c-l-i-k-c-vi-c-l-m {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tr-ng-a-c {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
._9 {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-i-xin-h-i-n-m-2019-ph-ng-v-n-h-a-th-ng-tin-c-ch-ti-u-h-p-ng-ng-nh-v-n-h-a-kh-ng {
  color: #000000;
  text-align: left;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ho-ng-th-vi-n {
  color: #000000;
  text-align: center;
  font: 400 16px "Kanit", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
